.black:hover{
    background-color: #e1e1e1;
}

.white:hover{
    background-color: #e1e1e1;
}

.nothing{
    opacity: 0;
}

.empty{
    width: 0;
}

.board{
    background-image: url(https://images.chesscomfiles.com/chess-themes/boards/green/150.png);
}

.row{
    display: flex;
}