.nothing{
    opacity: 0;
}

body{
    background-color: #314a75;
    display: flex;
}

.board{
    width: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(https://images.chesscomfiles.com/chess-themes/boards/green/150.png);
}

.row{
    display: flex;
    height: 12.5vh;
    width: 100vh;
}

img{
    z-index: 0;
}

.moves{
    display: flex;
    width: 10vh;
}